<!doctype html>
<html lang="ja">
  <head prefix="og: https://ogp.me/ns#">
    <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WXKKPV2');</script>
  <!-- End Google Tag Manager -->	<meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>【岡山アグリフーズ】青昊にんにく－岡山の美味しいにんにく</title>
    <meta name="description" content="青昊にんにくは、晴の国の土と水と太陽から。晴れの国おかやまの青昊（あおぞら）のもとで、丁寧に育てたにんにくです。" />
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- OG -->
    <meta property="og:url" content={% url "okayama-agrifoods" %}>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="青昊にんにく－岡山の美味しいにんにく" />
    <meta property="og:description" content="青昊にんにくは、晴の国の土と水と太陽から。晴れの国おかやまの青昊（あおぞら）のもとで、丁寧に育てたにんにくです。" />
    <meta property="og:site_name" content="青昊にんにく－岡山の美味しいにんにく" />
    <meta property="og:image" content="http://okayama-agrifoods.co.jp/common/images/ogimage.jpg" />
    
    <!-- favicon -->
    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="shortcut icon" href="/media/okayama-agrifoods_files/logo.svg">
    <!-- CSS -->
    <link rel="stylesheet" href="/media/okayama-agrifoods_files/slick-theme.css" type="text/css">
    <link rel="stylesheet" href="/media/okayama-agrifoods_files/slick.css" type="text/css">
    <link rel="stylesheet" href="/media/okayama-agrifoods_files/layout.css" type="text/css">
    <link rel="stylesheet" href="/media/okayama-agrifoods_files/local.css" type="text/css">
    
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script defer type="text/javascript" src="/media/okayama-agrifoods_files/slick.min.js"></script>
    <script defer type="text/javascript" src="/media/okayama-agrifoods_files/scripts.js"></script>
    <script defer type="text/javascript" src="/media/okayama-agrifoods_files/scripts.js"></script>
    
    <!-- Fontawesome -->
    <script defer src="https://kit.fontawesome.com/66a69c7dee.js" crossorigin="anonymous"></script>	
    
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap" rel="stylesheet">
    
    <!-- privacy policy -->
    <!-- <link href="/media/okayama-agrifoods_files/pro-cp-dialog/pro-cp-dialog.css" rel="stylesheet">
    <script defer src="/media/okayama-agrifoods_files/pro-cp-dialog/pro-cp-dialog.js"></script> -->
    <meta name="google-site-verification" content="wwmMSSTHqwP1hvkBac4rW7ADXzDQ6gAIJvZHDOpvzIs" />
  </head>
    
  <body>
      <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WXKKPV2"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->	<div id="wrapper">
        
    <header class="header">
      <div class="area_head">
        <div class="head_logo">
          <h1>
            <a href={% url "okayama-agrifoods" %}>
              <img src="/media/okayama-agrifoods_files/logo.svg" alt="青昊にんにく">
            </a>
          </h1>
        </div>
        <div class="pc_menu">
          <ul>
            <li><a href={% url "okayama-agrifoods" %}#story>青昊にんにくストーリー</a></li>
            <li><a href={% url "okayama-agrifoods" %}#product>製品紹介・ラインナップ</a></li>
            <li><a href={% url "okayama-agrifoods" %}#mission>私たちのミッション・会社紹介</a></li>
          </ul>
        </div>
      </div>
      <div class="sp_menu">
        <div class="menu-trigger" href="">
          <div class="menu">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <nav>
          <ul>
            <li><a href={% url "okayama-agrifoods" %}#story>青昊にんにくストーリー</a></li>
            <li><a href={% url "okayama-agrifoods" %}#product>製品紹介・ラインナップ</a></li>
            <li><a href={% url "okayama-agrifoods" %}#mission>私たちのミッション・会社紹介</a></li>
          </ul>
        </nav>
      </div>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

      <script type="text/javascript">
              $(document).ready(function(){
                  $('.slider').bxSlider({
                      auto: true,
                      pause: 5000,
                      mode: 'fade',
                  });
              });
      </script>
    </header>		
    <div class="content">
      <div class="top_mainvisual">
        <div class="slider" class="top_slide pconly">
          <img src="/media/okayama-agrifoods_files/mainvisual01.jpg" alt="">
          <img src="/media/okayama-agrifoods_files/mainvisual02.jpg" alt="">
          </div>
        </div>

        <section class="top_intro">
          <div class="area_intro">
            <div class="pattern intro_pattern01"><img src="/media/okayama-agrifoods_files/pattern_color01.svg" alt=""></div>
            <div class="pattern intro_pattern02"><img src="/media/okayama-agrifoods_files/pattern_color02.svg" alt=""></div>
            <div class="sec_intro width">
              <h2 class="ttl_intro">青昊にんにくは、<span class="span_br">晴の国の</span><span class="span_br">土と水と太陽から</span></h2>
              <p class="txt_intro">晴れの国おかやまの<span class="span_br">青昊（あおぞら）のもとで、</span><br>丁寧に育てたにんにくです。</p>
            </div>
          </div>
        </section>
          
        <section id="story" class="top_story">
          <img src="/media/okayama-agrifoods_files/Screenshot-1.png" alt="">
          <p>　</p>
          <img src="/media/okayama-agrifoods_files/Screenshot-2.png" alt="">
          <p>　</p>
          <img src="/media/okayama-agrifoods_files/Screenshot-3.png" alt="">
        </section>
        
        <section id="product" class="top_product">
          <p>　</p>
          <p>　</p>
          <img src="/media/okayama-agrifoods_files/Screenshot-4.png" alt="">

          <div class="sec_lineup width">
            <p class="en_lineup"><img src="/media/okayama-agrifoods_files/en_lineup.svg" alt="Line up"></p>
            <h2 class="ttl_lineup">ラインナップ</h2>
            <ul class="list_lineup">
              <li>
                <img src="/media/okayama-agrifoods_files/lineup_img01.jpg" alt="">
                <h3 class="name_list">青果用にんにく</h3>
                <p class="txt_list">瀬戸内の<span class="span_br">温暖な</span><span class="span_br">気候風土のもとで</span><br>栽培された<span class="span_br">にんにくです。</span></p>
              </li>
              <li>
                <img src="/media/okayama-agrifoods_files/lineup_img02.jpg" alt="">
                <h3 class="name_list">剥きにんにく</h3>
                <p class="txt_list">へタを切除した<span class="span_br">剥きにんにくです。</span><br>生鮮及び冷凍品を<span class="span_br">揃えています。</span></p>
              </li>
              <li>
                <img src="/media/okayama-agrifoods_files/lineup_img03.jpg" alt="">
                <h3 class="name_list">冷凍おろしにんにく</h3>
                <p class="txt_list">各種おろしサイズを<span class="span_br">取り揃えています。</span></p>
              </li>
            </ul>
            <p class="txt_note">※商品詳細は<span class="span_br">お問合せフォームから</span><span class="span_br">お願いします。</span></p>
            <p class="btn_link"><a href={% url "okayama-agrifoodscontact" %}>お問合せフォームはこちら</a></p>
          </div>
          <br><br><br><br>
        </section>
        <section id="mission">
          <img src="/media/okayama-agrifoods_files/Screenshot-5.png" alt="">
          <img src="/media/okayama-agrifoods_files/Screenshot-6.png" alt="">
          <div class="topChar"  style="position:absolute; top:5630px; left:350px" >
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3288.554679950515!2d133.51648179999998!3d34.48881959999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35516afbc2016b3f%3A0x553f98af6a3fde25!2z44CSNzE0LTAwNDIg5bKh5bGx55yM56yg5bKh5biC576O44Gu5rWc77yT4oiS77yS!5e0!3m2!1sja!2sjp!4v1665476757662!5m2!1sja!2sjp" width="720" height="410" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </section>
      </div>
    </div>
  </body>
</html>